/*
  input boxes
  buttons
*/

.form-holder { /*box that contains workout form */
  display: flex;
  width: 350px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lime;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 30px;
}

.create-workout {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.date-range {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

h1{
	font-family: sans-serif;
	font-size: 50px;
}

.wo-input{
	display:block;
	width: 200px;
	margin:auto;
	justify-content: center;
	flex-wrap: wrap;
}

#createButton{
	display:inline-block;
	width: 200px;
	margin:auto;
	justify-content: center;
	flex-wrap: wrap;
}

.workout-holder { /*box that contains workouts */
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;


}

.workout{ /*singular tweet*/
  display: block;
  margin: 0;
  border: 1px solid black;
  justify-content: center;
  height: auto;
  width: 75%;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5%;
  font-family: Helvetica Neue;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
}

.container{
	font-size: 30px;
	width:40%;
	margin: 2.5%;
	justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    padding:10px;
    border: 1px solid black;
}

.planned-workouts{
	background-color: red;
	border-radius: 20px;
}

.completed-workouts{
	background-color: green;
	border-radius: 20px;
}

.index{
	display:none;
}

.completed{
	display:none;
}

.banner{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lime;
}

body{
	background: black;
	margin: 0px;
	font-family: Helvetica Neue;
}

#chart{
	display: flex;
	justify-content: center;
}

.c3-chart-arc text {
    fill: black;
}

.c3-legend-item {
   fill: white;
}