/*
  input boxes
  buttons
*/

.form-holder { /*box that contains workout form */
  display: flex;
  width: 350px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: yellow;
}

.wo-input{
	display:block;
	width: 200px;
	margin:auto;
	justify-content: center;
	flex-wrap: wrap;
}

#createButton{
	display:inline-block;
	width: 200px;
	margin:auto;
	justify-content: center;
	flex-wrap: wrap;
}

.workout-holder { /*box that contains workouts */
  display: flex;
  width: 350px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: pink;
}

.workout{ /*singular tweet*/
  display: block;
  margin: 0;
  border: 1px solid black;
  justify-content: center;
  height: auto;
  width: 350px;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  font-family: Helvetica Neue;
  font-size: 15px;
  background-color: white;
}